/* @font-face {
  font-family: Satoshi;
  src: url('/public/fonts/Satoshi-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */
.swiper {
  width: 70%;
  height: 90%;
  border-radius: 1rem;
  margin: auto;
  padding: 0;
}
@media screen and (max-width: 420px) {
  .swiper {
    display: none;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  object-fit: contain;
}
